---
/**
 * YouTubeEmbed component for embedding YouTube videos
 *
 * @param {string} videoId - The ID of the YouTube video
 * @param {string} [title="YouTube video player"] - The title of the video player
 * @param {number|string} [width=560] - The width of the video player
 * @param {number|string} [height=315] - The height of the video player
 * @param {boolean} [autoplay=false] - Whether to autoplay the video
 * @param {boolean} [controls=true] - Whether to show the video controls
 * @param {boolean} [showInfo=true] - Whether to show the video title and uploader
 * @param {boolean} [rel=false] - Whether to show related videos at the end of the video
 * @example
 * ```mdx
 * import YouTubeEmbed from '../../../../components/YouTubeEmbed.astro';
 *
 * <YouTubeEmbed videoId="u9RKE-aN3ac" />
 * ```
 */
interface Props {
  videoId: string;
  title?: string;
  width?: number | string;
  height?: number | string;
  autoplay?: boolean;
  controls?: boolean;
  showInfo?: boolean;
  rel?: boolean;
  loop?: boolean;
  startAt?: number;
}

const {
  videoId,
  title = "YouTube video player",
  width = 560,
  height = 315,
  autoplay = false,
  controls = true,
  showInfo = true,
  rel = false,
  loop = false,
  startAt = 0,
} = Astro.props;

// Build the YouTube URL with parameters
let youtubeUrl = `https://www.youtube.com/embed/${videoId}?`;
const params = new URLSearchParams({
  autoplay: autoplay ? "1" : "0",
  controls: controls ? "1" : "0",
  showinfo: showInfo ? "1" : "0",
  rel: rel ? "1" : "0",
  loop: loop ? "1" : "0",
});

if (startAt > 0) {
  params.append("start", startAt.toString());
}

youtubeUrl += params.toString();
---
<div class="youtube-embed-container sticky">
  <iframe
    src={youtubeUrl}
    title={title}
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>

<style>
  .youtube-embed-container iframe {
    border: 0;
    aspect-ratio: 16/9;
    width: 100%;
  }

  div.sticky {
    position: sticky;
    top: 64px;
  }

  @media (max-width: 768px) {
    div.sticky {
      top: 112px;
    }
  }
</style>
